<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Игра</title>
    <link type='text/css' href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="top-section">
            <ul class="task-list">
                <li>1. {{ couple[3] }}</li>
                <li>2. {{ couple[4] }}</li>
            </ul>
            <a href="{{ url_for('profile') }}" class="button">В Профиль</a>
        </div>
        <div class="content">
            <div class="task-form">
                <h2>Ваше задание</h2>
                <form method="post">
                    <textarea placeholder="Введите текст задания..."></textarea>
                    <button type="submit">Отправить</button>
                </form>
            </div>
            <div class="task-display">
                <h2>Выполнить</h2>
                <p>Убраться в квартире</p>
                <form method="post">
                    <button type="submit">Сделано</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
