<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль пользователя</title>
    <link type='text/css' href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
</head>
<body>
    <div class="profile-info">
        <h1 style="font-size: 40pt;">Данные пользователя</h1>
        <p>Имя: {{ username }}</p>
        <p>Email: {{ email }}</p>
        <p>Ваш ID: {{ user_id }}</p>
    </div>
    <div class="invite-form">
        <h2>Создать пару</h2>
        {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}">{{msg}}</div>
        {% endfor %}
        <form action="#" method='post'>
            <input type="text" name='friend_id' placeholder="Введите ID вашего друга" required>
            <button type="submit" name="create_request">Отправить приглашение</button>
        </form>
    </div>
    <div class="invitations">
        <h2>Приглашения от ваших друзей</h2>
        <ul>
            {% if requests == False %}
            <p> У вас нет новых приглашений </p>
            {% else %}
            {% for request in requests %}
            <form method="post" style="display: grid;">
                <p>
                    Приглашение от пользователя: {{ request[3] }}
                    <button type="submit" class="button-access" name="request_interract" value="accept_{{ request[0] }}">Принять</button>
                    <button type="submit" class="button-cancle" name="request_interract" value="decline_{{ request[0] }}">Отклонить</button>
                </p>
            </form>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
    
    <div class="invitations">
        <h2>Ваши пары</h2>
        <ul>
            {% if couples == False %}
            <p> У вас нет пары </p>
            {% else %}
            {% for couple in couples %}
            <form method="post" style="display: grid;">
                <p>
                    {{ couple[3] }} - {{ couple[4] }}
                    <button href="{{ url_for('game') }}">Играть</button>
                    <button type="submit" class="button-cancle" name="couple_interract" value="delete_{{ couple[0] }}">Удалить пару</button>
                </p>
            </form>
            {% endfor %}
            {% endif %}
        </ul>
    </div>

    <a href="{{ url_for('logout') }}" class="logout-button">Выход</a>
</body>
</html>